.group {
  margin: 0px 400px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.laughter_group {
  display: flex;
  border-bottom: 1px solid white;
  margin-top: 10px;
}

.lg_user_icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}

.lg_input_group {
  margin-top: 10px;
  width: 95%;
}

.lg_text_area {
  width: 95%;
  min-height: 160px;
  background-color: #242d34;
  border: none;
  resize: none;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid gray;

  &:focus {
    outline: none;
  }
}

.lg_media_box {
  width: 85%;

  label {
    cursor: pointer;
    margin-right: 10px;
    color: skyblue;
    font-size: 20px;
  }

  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.lg_laughButton {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background-color: skyblue;
  font-weight: bold;
  font-size: 16px;
  margin-right: 35px;
}

.lg_button_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lg_preview_group {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  border-top: 1px solid white;

  h4 {
    color: white;
    margin-right: 10px;
  }

  .ig_media_preview_portrait {
    margin-top: 10px;
    width: 150px;
    height: 250px;
  }

  .ig_media_preview_landScape {
    margin-top: 10px;
    width: 250px;
    height: 150px;
  }

  .ig_media_preview_sameSize {
    margin-top: 10px;
    width: 150px;
    height: 150px;
  }

  button {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 7px;
    color: white;
    background-color: skyblue;
    font-weight: bold;
    font-size: 15px;
  }
}

.lv_group {
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 20px;

  .lv_user_icon {
    width: 50px;
    height: 50px;
    margin: 20px 20px;
    border-radius: 50%;
  }
}

.lv_laughter_group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 85%;

  .lv_laughter_infos {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .lv_displayName {
      color: white;
      font-weight: bold;
      font-size: 14px;
    }

    .lv_day {
      color: gray;
      font-size: 14px;
    }
  }

  .lv_laughter {
    color: whitesmoke;
    font-size: 16px;
    white-space: pre;
    line-height: 1.4;
  }

  .lv_file_button {
    margin-top: 20px;
    background-color: transparent;
    width: 90%;
    max-height: 300px;
    padding: 0;

    .lv_file {
      border-radius: 10px;
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .lv_ownerButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid white;

    .lv_owner_button {
      font-size: 16px;
      background-color: transparent;
    }
  }
}

.lv_modify_textarea {
  width: 95%;
  min-height: 160px;
  background-color: #242d34;
  border: none;
  resize: none;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid gray;

  &:focus {
    outline: none;
  }
}

// media query

@media screen and (max-width: 1439px) {
  .group {
    margin: 0px 200px;
  }
}

@media screen and (max-width: 1000px) {
  .group {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 425px) {
  .lg_user_icon {
    margin-left: 10px;
    margin-right: 10px;
  }

  .lg_text_area {
    font-size: 16px;
    min-height: 120px;
  }

  .lg_laughButton {
    font-size: 14px;
    margin-right: 10px;
  }
}
